.catalog {
    padding-top: 64px;
    padding-bottom: 64px;

    @include desktop() {
        padding-top: 160px;
        padding-bottom: 194px;
    }
}

.catalog__list {
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));

    @include desktop() {
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.catalog__item-link {
    display: block;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid $blue;

    &:hover {
        background-color: $blue;
        transition: 0.6s;

        img {
            transform: scale(1.1);
        }
    }

    @include desktop() {
        border-radius: 16px;
    }
}

.catalog__item-img-wrapper {
    width: 100%;
    aspect-ratio: 135/100;

    img {
        transition: 0.6s;
    }
}

.catalog__item-name {
    @include mobile-text;
    color: $text-dark;
    text-align: center;
    margin-top: 16px;

    @include desktop() {
        @include desktop-h3;
    }
}

.catalog__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: block;
    padding: 16px;
    color: $text-dark;
    margin-top: 9px;
    border-radius: 8px;
    border: 1px solid $brand-button;
    width: 100%;
    text-align: center;
    transition: 0.6s;

    &:hover {
        background-color: $button-additional-hover;
    }

    @include desktop() {
        margin: 16px auto 0;
        width: 222px;
    }
}